.connectButton{
    position:absolute;
    right:0;
    top:0;
    margin:20px;
    padding:10px 20px;
    color: white;
    background-color: #068FFF;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}